
body
{
	text-align: center;
	position: relative;
}
h1
{
	padding-left: 10px;
}
.container-fluid
{
	position: absolute;
	padding-top: 5%;
  
  
}
.form-inline
{
	 align-self: auto;
}
.col-sm-1
{
	margin-top:2%;
}
.col-sm-2
{
	margin-top:2%;
}
