
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Paramount</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script href="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <style>
        @import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');

      </style>
  </head>


  <body>
  	<header>
        <div  id="together" class="container-fluid">
  		<div class="container-fluid">
  			<div class="row no-gutters">

  				<div class="col-sm" id="address">
  					<a href="{{ maplink }}"  class="btn btn-large btn-block" type="button" target="_blank" id="map">Схема проезда</a>
  				</div>
  				
  				<div class="col-sm-6" align='center'>
  					<!--<h1> name </h1>-->
                    <h1> Кинотеатр "Paramount" </h1>
                    <!--<img src="/Users/okot444/Desktop/Kursach/static/images/paramount-studios-logo.jpg" >-->
  				</div>
                <div class="about">
                    <p>Режим работы: пн. - вс. : 10:00 - 22:00</p>
                    <p>Aдрес: метро Парнас , улица Николая Рубцова д. 12</p>
                    <p>Телефон: 8-100-1001010</p>
                </div>

  			</div>
    	</div>
    	<div class="container">
    		<div class="row">
    		<div id="bar" class="col-sm">
    				<a href="index" id="curr"><h3>Главная</h3></a>
    		</div>
    		<div id="bar" class="col-sm">
    			<a href="timetable" id="navbar"><h3>Расписание</h3></a>
    		</div>
    		<div id="bar" class="col-sm">
    			<a href="contacts" id="navbar"><h3>О нас</h3></a>
    		</div>

    		</div>
    		
    	</div>
        </div>
	</header>
  <div class="main">
	<h2>
		Сегодня {{ today }}
	</h2>
<table class="table table-hover">
  <thead>
    <tr id="first">
      <th scope="col" id="time">Сеанс</th>
      <th scope="col" id="name">Название</th>
      <th scope="col">Цена</th>
      <th scope="col">Зал</th>
    </tr>
  </thead>
  <tbody>
  {% for film in films %}
    {% include "tablerow.html" with time=film.0 fname=film.1 price=film.2 hall=film.3 id=film.4%}
{% endfor %} <!-- ????????? !!!!!!!!!!!!!!!убрать -->
  </tbody>
</table>
</div>

  </body>
</html>
